.main {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
  margin: auto;
  width: 40%;
  box-shadow: 0px 0px 0px 3px inset #aaa;
  background-color: #eeeeee;
}

textarea {
  font-size: 14px;
  font-family: "Courier", Courier, monospace;
  font-weight: bold;
  background-color: #eee;
  resize: none;
  /* box-shadow: 0px 0px 0px 0px inset #AAA; */
  border: none;
  box-sizing: border-box;
  padding: 0%;
  width: 100%;
}

body {
  background-color: gray;
}

.title {
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1em;
  width: 40%;
  background-color: #eeeeee;
  text-align: center;
}

.ascend-directory {
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1em;
  width: 40%;
  background-color: #eeeeee;
  text-align: center;
}

.ascend-button {
  font-size: 30px;
  margin: auto;
  width: 100%;
  background: none;
  border: none;
  height: 2em;
  font-family: "Courier", Courier, monospace;
}

.file {
  border-radius: 0%;
  padding: 5px;
  width: 100%;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  background-color: #eee;

  font-size: 16px;

  border: none;
}

.content {
  margin: 0px;
}

.file:hover {
  /* border-radius: 5px; */
  background: #aaa;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Courier", Courier, monospace;
  font-size: 40px;
}

h2 {
  font-family: "Courier", Courier, monospace;
  font-size: 30px;
  line-height: 0px;
}
